<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="SessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/IvAl</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<!--           <mapping class="com.testing.model.SecureLogin"/> -->
           <mapping class="com.testing.model.Carrito"/>
            <mapping class="com.testing.model.Producto"/>
             <mapping class="com.testing.controller.Core	"/>
<!--              <mapping class="com.testing.model.Contiene"/> -->
    </session-factory>
</hibernate-configuration>
