
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="paginator" >
	<nav class="d-flex justify-content-center">
	
	<ul class="pagination text-center">
	<li class="page-item" th:class="${page.first? 'page-item disabled': 'page-item'}">
	<span class="page-link" th:if="${page.first}">Primera</span>
	<a class="page-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}">Primera</a>
	</li>
	
	
	<li class="page-item" th:class="${not page.hasPrevious? 'page-item disabled': 'page-item'}">
	<span class="page-link" th:if="${not page.hasPrevious}">&laquo;</span>
	<a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual-2},resultados=${resultados})}">&laquo;</a>
	</li>
	
	<li class="page-item" th:each="item : ${page.paginas}" th:class="${item.actual? 'page-item active': 'page-item'}">
	<span class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
	<a class="page-link" th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero-1},resultados=${resultados})}" th:text="${item.numero}"></a>
	</li>
	
	
	<li class="page-item" th:class="${not page.hasNext? 'page-item disabled': 'page-item'}">
	<span class="page-link" th:if="${not page.hasNext}">&raquo;</span>
	<a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual},resultados=${resultados})}">&raquo;</a>
	</li>
	
	<li class="page-item" th:class="${page.last? 'page-item disabled': 'page-item'}">
	<span class="page-link" th:if="${page.last}">última</span>
	<a class="page-link" th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPaginas-1},resultados=${resultados})}">última</a>
	</li>
	</ul>
	

	</nav>
	<div class="d-inline"> 
		<p>resultados por pagina:<br></p>
		<a class="btn page-link d-inline" th:href="@{${page.url}(page=0,resultados=10)}"> 10 </a>
		<a class="btn page-link d-inline" th:href="@{${page.url}(page=0,resultados=25)}"> 25 </a>	
		<a class="btn page-link d-inline" th:href="@{${page.url}(page=0,resultados=50)}"> 50 </a>
		<a class="btn page-link d-inline" th:href="@{${page.url}(page=0,resultados=100)}"> 100 </a>		
	</div>
	
</div>


</body>
</html>